@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    /* Primary */
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    /* Neutral */
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
}

label {
    cursor: pointer;
}

/* specific styles */

main {
    min-height: 100vh;
    background: var(--magnolia);

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background: var(--white);
    margin: 5rem;
    padding: 1.5rem;
    flex: 0 1 1000px;
    height: 650px;
    display: grid;
    grid-template-columns: 300px 1fr;
    border-radius: 1rem;
    box-shadow: 0px 10px 100px var(--light-gray);
}

.container {
    width: 470px;
    height: 100%;
    padding-left: 2rem;
    margin: auto;
}

button {
    border: none;
    font-weight: 500;
    cursor: pointer;
}

/* navigation section */

.sidebar-navigation {
    background-image: url(./images/bg-sidebar-desktop.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 3rem;
}

.step-link {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    color: var(--white);
}

.step-link > p {
    padding: 1rem 1.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    border: 1px solid var(--white);
    font-weight: 700;
}

.step-link div p:nth-of-type(1){
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--cool-gray);
}

.step-link div p:nth-of-type(2){
    font-weight: 500;
}

.selected-step > p{
    background: var(--light-blue);
    border: 1px solid var(--light-blue);
    color: var(--marine-blue);
}

/* step section */

.step-section {
    display: none;
}

.step-section form {
    height: 100%;
    display: grid;
    padding-top: 5rem;
    padding-bottom: 2rem;
    grid-template-rows: 0.3fr 1fr 0.4fr;
}

.active {
    display: block;
}

.title {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--marine-blue);
}

.description {
    margin-top: 1rem;
    color: var(--cool-gray);
}

.form-footer {
    display: flex;
    justify-content: space-between;
}

.next-btn, .back-btn {
    padding: 1.8rem 3rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    display: inline-block;
}

.next-btn {
    color: var(--white);
    background: var(--marine-blue);
    align-self: flex-end;
}

.back-btn {
    background: var(--white);
    color: var(--cool-gray);
    align-self: flex-end;
}

.bold-blue-text {
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--marine-blue);
}
.gray-text {
    font-weight: 400;
    color: var(--cool-gray);
}
.purple-text {
    color: var(--purplish-blue);
    font-weight: 500;
}

.small {
    font-weight: 400;
    font-size: 1.4rem;
}

/* switch */

/* step 1 section */

.step-1-section .form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step-1-section label {
    color: var(--marine-blue);
}

.step-1-section input {
    width: 100%;
    font-size: 1.6rem;
    padding: 1.4rem;
    border: 1px solid var(--cool-gray);
    border-radius: 5px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: var(--marine-blue);
    font-weight: 500;
    cursor: pointer;
}

.step-1-section input:focus {
    outline: none;
    border: 1px solid var(--purplish-blue);
}

.step-1-section input:hover {
    border: 1px solid var(--purplish-blue);
}

.wrong-input {
    border: 1px solid var(--strawberry-red);
}

.justify-end {
    justify-content: flex-end;
}

/* step 2 section */

.step-2-section .form-body {
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 3rem;
}

.plans {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding-top: 2.5rem;
}

.plans > div {
    border-radius: 0.5rem;
    padding: 2rem;
    border: 1px solid var(--cool-gray);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.plans > div:hover {
    border: 1px solid var(--purplish-blue);
}

.period-plan {
    background: var(--alabaster);
    align-self: flex-start;
    padding: 2rem;

    display: flex;
    justify-content: center;

    border-radius: 1rem;
}

.switch {
    margin: 0 3rem;
    width: 40px;
    height: 20px;
    background: var(--marine-blue);
    border-radius: 1rem;
    position: relative;
}

.switch input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.switch::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    transform: translateX(30%) translateY(-50%);
    background: var(--white);
    transition: transform 0.2s ease-in-out;
}

.switch:has(input:checked)::before {
    transform: translateX(155%) translateY(-50%);
}

/* step 3 section */

.step-3-section .form-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.step-3-section .form-body label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.3rem;
    border-radius: 0.8rem;
    border: 1px solid var(--light-gray);
    cursor: pointer;
}

.step-3-section .form-body label:hover {
    border: 1px solid var(--purplish-blue);
}

.step-3-section .form-body label:has(input:checked) {
    border: 1px solid var(--purplish-blue);
    background: var(--alabaster);
}

.step-3-section .form-body label div {
    width: 75%;
}

.step-3-section input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    height: 1.7em;
    width: 1.7em;

    border-radius: 5px;
    border: 1px var(--light-gray) solid;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s background ease-in-out;
}

.step-3-section input[type="checkbox"]:checked {
    background: var(--purplish-blue);
    border: 1px var(--purplish-blue) solid;
}

.step-3-section input[type="checkbox"]::before {
    content: "";
    height: 100%;
    width: 100%;
    background-image: url(./images/icon-checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
    offset-position: bottom left;
    transform: scale(0);
    transition: 0.2s transform ease-in-out;
}

.step-3-section input[type="checkbox"]:checked::before {
    transform: scale(1);
}

/* step 4 section */

.step-4-section .form-body {
    display: grid;
    grid-template-rows: auto 1fr;
}

.plan-add-ons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3rem;
    background: var(--alabaster);
}

.confirm-plan {
    border-bottom: 0.5px solid var(--cool-gray);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.confirm-add-ons {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.confirm-add-ons div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confirm-add-ons div + div {
    margin-top: 1rem;
}

.confirm-total {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

/* step 5 */

.step-5-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.thank-you {
    height: 80px;
    margin-bottom: 3rem;
}

.step-5-section .container h1 {
    margin-bottom: 2rem;
    color: var(--marine-blue);
}

/* media queries */

/* - Mobile: 375px
- Desktop: 1440px */